<div class="space-card">
	<mat-card class="card" draggable="true" (dragstart)="handleDragStart($event,card)" (dragover)="handleDragOver($event,card)"
	 (drop)="handleDrop($event,card)" (dragend)="handleDragEnd($event)"  (click)="clickOnCard(card)"   >
		<mat-card-title>
				<div class="card-title">
					<div *ngIf="!isTitleClicked; else showTitle">
						<a (click)="clickOnCardTitle($event,showTitle)">{{card.title}}</a>
					</div>

					<ng-template #showTitle>
						<!--input  [value]="card.title" (input)="card.title = $event.target.value;" (click)="onCardTitleClick($event,showTitle)"  /-->
						<mat-form-field>
							<input matInput  ng-model="card.title" type="text">
                        </mat-form-field>
                     </ng-template>
                </div>
		</mat-card-title>

		<mat-card-content >{{dragClass}}{{card.content}}</mat-card-content>
           <mat-card-actions>
              <button mat-button (click)="clickCardDeleteButton(card)">[-] </button>
           </mat-card-actions>
	</mat-card>

</div>
<span #emptyItem></span>
