
<section id="main" >

<div *ngIf="board$ | async as board else loading" class="board-title">

<ng-template #loading>
        <p>Task pipoeline is loading ...</p>
</ng-template>

 <span  (click)="editTitle()">
   {{ board?.title }}
 </span>


 <div class="container"
     fxLayout
     fxLayout.xs="column"
     fxLayoutAlign="left"
     fxLayoutGap="10px"
     fxLayoutGap.xs="2px"
     class="scroll-this"> <!-- it really makes horisontal scrollbar -->
   <span *ngFor="let column of board.columns">
    <tr><td>
       <div class="column-spacer" fxFlex="200px"> 
         
         <!--
          Option to adjust:

          fxFlex=200px makes fixed width cards with scrollbar 
         
          fxFlex="fxShrink='5' fxGrow='5'" makes proportional sized
         -->
         <app-column-component
           [column]="column"
           (onAddCard)="addCard($event)"
           [boardSubject$]="boardSubject$"
           [onTransition]="onTransition"
           [onClickColumnTitle]="onClickColumnTitle"
           >
         </app-column-component>
        </div>
    </td></tr>
  </span>
 </div>


</div>
</section>



